@import "tailwindcss";
@custom-variant hover (&:hover);

@theme {
  --font-firasans: "Fira Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --animate-wiggle: wiggle 1s ease-in-out infinite;
}

html,
body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

.gradient {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 2rem;
  z-index: -1;
  background: linear-gradient(
    -45deg,
    #7e7e5480,
    #5a84a080,
    #694f8680,
    #427e6b80
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  backdrop-filter: blur(16px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }
}

@media (width <64rem) {
  * :not(#loading) {
    transition: none !important;
    animation: none !important;
    transform: none !important;
  }

  [data-tooltip]:before,
  [data-tooltip]:after {
    display: none !important;
  }

  :root {
    font-size: 14px;
  }

  body {
    background-image: url("/theme/images/video-preview.webp");
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media (width <28rem) or (height <40rem) {
  .gradient {
    width: 100vw;
    height: 100vh;
    position: fixed;
    border-radius: 0;
  }
}
