/* 
  You want a simple and fancy tooltip?
  Just copy all [data-tooltip] blocks:
*/
[data-tooltip] {
  --arrow-size: 7px;
  position: relative;
  z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + var(--arrow-size));
  pointer-events: none;
  transition: 150ms;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 8px 16px;
  min-width: 30px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 8px;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  background-color: #111111;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, calc(0px - var(--arrow-size))) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: var(--arrow-size) var(--arrow-size) 0px var(--arrow-size);
  /* CSS triangle */
  border-color: #111111 transparent transparent transparent;
  transition-duration: 0s;
  /* If the mouse leaves the element, 
                              the transition effects for the 
                              tooltip arrow are "turned off" */
  transform-origin: top;
  /* Orientation setting for the
                              slide-down effect */
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 300ms;
  transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
}

/* Arrow slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
  transition-delay: 400ms;
  transition-duration: 100ms;
  transform: translateX(-50%) scaleY(1);
}

/* LEFT */
[data-tooltip-location="left"]:before {
  left: calc(-50% + var(--arrow-size));
}

[data-tooltip-location="left"]:after {
  left: 50%;
}

/* RIGHT */
[data-tooltip-location="right"]:before {
  left: calc(50% + var(--arrow-size));
}

[data-tooltip-location="right"]:after {
  left: 50%;
}