/* 
  Fancy & Animated Tooltip (CSS Only)
  Reinhard Schnetzinger
  https://codepen.io/reiinii1/pen/aPGXEa
*/
[data-tooltip] {
  --arrow-size: 7px;
  position: relative;
  z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + var(--arrow-size));
  pointer-events: none;
  transition: 150ms ease-in-out;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 8px 16px;
  min-width: 30px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 2rem;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: #111111;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, calc(0px - var(--arrow-size)));
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: "";
  border-style: solid;
  border-width: var(--arrow-size) var(--arrow-size) 0px var(--arrow-size);
  border-color: #111111 transparent transparent transparent;
  transform: translateX(-50%);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transform: translate(-50%, calc(0px - var(--arrow-size)));
}
