---
import "../styles/main.css";
import "../styles/tooltips.css";
import { Image } from "astro:assets";
import Loading from "../components/loading.astro";
import Header from "../components/header.astro";
import Main from "../components/main.astro";
---

<!doctype html>
<html
  lang="ru"
  class="min-h-screen scroll-smooth overflow-x-hidden overflow-y-hidden"
>
  <head>
    <title>Trixlight's Lair</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Trixlight, Andy Lunev, Андрей Лунев" />
    <meta name="author" content="Trixlight" />
    <meta
      name="description"
      content="Простенькая визитка со ссылками на аккаунты соц.сетей"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="yandex-verification" content="abc9548534bb19e9" />
    <meta property="og:url" content="https://trixlight.github.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Trixlight's Lair" />
    <meta
      property="og:description"
      content="Простенькая визитка со ссылками на аккаунты соц.сетей"
    />
    <meta
      property="og:image"
      content="https://trixlight.github.io/theme/images/og-meta.png"
    />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link
      rel="preload"
      as="image"
      href="/theme/images/background-image.webp"
      fetchpriority="high"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Loading />
    <Header />
    <!-- <Main /> -->
  </body>
</html>
