@media screen and (max-width: 480px),
screen and (max-height: 780px) {

  body {
    background-image: url("/theme/images/video-preview.jpg");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  code.inline {
    font-size: 0.8rem;
  }

  footer {
    font-size: 0.7rem;
  }

  #background-video {
    display: none;
  }

  main {
    align-items: flex-start;
    padding: 8px;
    height: auto;
  }

  section {
    padding: 32px 16px;
  }

  .gradient {
    background: #1a1915de;
    animation: none;
  }

  .avatar {
    width: 128px;
    margin: 0 0 16px;
  }

  .social a {
    padding: 4px 4px 0;
    margin: 0;
  }
}