/*----------------------------------------------------------------------------------------
	1. Reset
----------------------------------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

i,
em {
  font-style: italic;
}

b,
strong,
em {
  font-weight: 500;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

/*----------------------------------------------------------------------------------------
	2. General
----------------------------------------------------------------------------------------*/
:root {
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  height: 100%;
  color: #EEE;
  background-color: #000;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

section {
  width: auto;
  position: relative;
  padding: 50px;
  text-align: center;
  overflow: hidden;
  border-radius: 64px;
}

.gradient {
  display: block;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  position: absolute;
  margin: -100px;
  z-index: -1;
  background: linear-gradient(-45deg, #575743e0, #3b2828e0, #121827d6, #374742de);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  backdrop-filter: blur(50px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.avatar {
  border-radius: 50%;
  width: 256px;
  margin: 0 0 25px;
}

h1 {
  font-size: 2rem;
  color: #EEE;
  font-weight: 600;
}

h2 {
  font-size: 1.6rem;
  font-weight: 300;
  color: #CCC;
  padding-bottom: 15px;
}

span {
  color: #a19e9e;
  font-weight: 300;
}

p {
  font-weight: 300;
  padding-bottom: 15px;
}

p img {
  vertical-align: sub;
}

a:link,
a:visited {
  color: #ffffff;
  text-decoration: underline dotted;
  font-weight: 300;
  transition: ease-in-out 150ms;
}

a:hover,
a:active {
  color: #ffffff;
  text-decoration: none;
}

code.inline {
  width: auto;
  height: auto;
  padding: 0.2em;
  margin: -0.2em 0;
  border-radius: 3px;
  font-size: 0.85rem;
  font-family: "Fira Mono";
  background: #393c42;
}

.map a {
  background-color: #393c42;
  transition: ease-in-out 150ms;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: 400;
  text-decoration: none;
}

.map a:hover,
.map a:active {
  background-color: #8d94ebe5;
}

.social {
  margin: 30px 0 0;
}

.social a {
  display: inline-block;
  width: min-content;
  padding: 6px 6px 2px;
  border-radius: 24px;
  margin: 0 3px;
  background-color: #393c42;
  transition: ease-in-out 150ms;
}

.social a img {
  height: 48px;
  width: 48px;
}

.social a:hover,
.social a:active {
  background-color: #8d94ebe5;
}

footer {
  margin: 30px 0 0;
  font-size: 0.75rem;
}