@media screen and (max-width: 480px),
screen and (max-height: 780px) {

  body {
    background-image: url("/theme/images/video-preview.jpg");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #background-video {
    display: none;
  }

  main {
    align-items: flex-start;
    padding: 15px;
    height: auto;
  }

  section {
    padding: 32px 16px;
  }

  .avatar {
    width: 128px;
    margin: 0 0 16px;
  }
}