---
import { Image } from "astro:assets";
import avatar from "../assets/avatar-256.webp";
import russia from "../assets/russia-24.webp";
---

<div
  class="flex justify-center items-center min-h-screen phone:p-2 max-phone:bg-[url(/theme/images/background-image.webp)] bg-cover bg-no-repeat bg-center bg-local"
>
  <video
    class="max-phone:hidden top-0 right-0 bottom-0 left-0 -z-1 absolute w-screen h-screen phone:min-h-175 object-cover"
    autoplay
    muted
    loop
    id="background-video"
    poster="theme/images/background-image.webp"
  >
    <source src="theme/background.webm" type="video/webm" />
  </video>

  <div class="z-1 relative flex flex-col gap-4 p-4 phone:p-8">
    <div class="gradient"></div>
    <header class="flex flex-col place-items-center gap-4">
      <figure>
        <Image
          class="size-55 rounded-full select-none"
          src={avatar}
          width="256"
          height="256"
          layout="constrained"
          fit="contain"
          alt=""
          fetchpriority="high"
          loading="eager"
        />
      </figure>
      <div>
        <h1
          class="font-heading font-semibold text-zinc-50 text-4xl text-center"
        >
          Trixlight
        </h1>
        <h2
          class="font-heading font-semibold text-zinc-200 text-2xl text-center"
        >
          Андрей Лу́нев
        </h2>
      </div>
      <div>
        <a
          class="group inline-flex items-center px-3 py-2 bg-zinc-700/30 hover:bg-zinc-800/30 border border-zinc-700/10 rounded-2xl font-medium text-zinc-200 hover:text-zinc-50 transition duration-150 ease-in-out select-none shrink-0"
          href="https://yandex.com/maps/-/CPuWnEnz"
          data-tooltip="Открыть на Яндекс Карте"
          rel="nofollow"
          target="_blank"
        >
          <Image
            class="size-5 mr-2 group-hover:brightness-110 transition duration-150 ease-in-out"
            src={russia}
            width="24"
            height="24"
            layout="constrained"
            fit="contain"
            alt=""
            loading="eager"
          />Россия, Оренбург</a
        >
      </div>
    </header>

    <div>
      <p class="font-light text-zinc-200 text-center leading-tight">
        «They told me I could become somebody, <br />so I became a
        disappointment.»
      </p>
      <p class="pt-2 text-sm text-center">
        <a
          class="text-zinc-200 hover:text-sky-300 transition duration-150 ease-in-out"
          href="https://www.youtube.com/channel/UCMwGHR0BTZuLsmjY_NT5Pwg"
          data-tooltip="Ninomae Ina'nis Ch. hololive-EN           на YouTube"
          target="_blank"
          rel="nofollow">Ninomae Ina'nis</a
        >
      </p>
    </div>

    <nav
      class="flex flex-wrap justify-evenly gap-1 p-1 bg-zinc-700/30 border border-zinc-700/10 rounded-2xl"
    >
      <a
        class="group inline-flex items-center hover:bg-zinc-800/30 border border-transparent hover:border-zinc-700/10 rounded-2xl transition duration-150 ease-in-out select-none shrink-0"
        href="https://steamcommunity.com/id/trixlight"
        data-tooltip="Steam"
        target="_blank"
      >
        <img
          class="size-14 group-hover:brightness-110 transition duration-150 ease-in-out"
          src="theme/images/steam-64.webp"
          width="64"
          height="64"
          alt="Steam"
        />
      </a>
      <a
        class="group inline-flex items-center hover:bg-zinc-800/30 border border-transparent hover:border-zinc-700/10 rounded-2xl transition duration-150 ease-in-out select-none shrink-0"
        href="https://trixlight.itch.io"
        data-tooltip="Itch.io (NSFW)"
        target="_blank"
      >
        <img
          class="size-14 group-hover:brightness-110 transition duration-150 ease-in-out"
          src="theme/images/itch-io-64.webp"
          width="64"
          height="64"
          alt="Itch.io"
        />
      </a>
      <a
        class="group inline-flex items-center hover:bg-zinc-800/30 border border-transparent hover:border-zinc-700/10 rounded-2xl transition duration-150 ease-in-out select-none shrink-0"
        href="https://myanimelist.net/profile/Trixlight"
        data-tooltip="MyAnimeList"
        data-tooltip-location="right"
        target="_blank"
      >
        <img
          class="size-14 group-hover:brightness-110 transition duration-150 ease-in-out"
          src="theme/images/myanimelist-64.webp"
          width="64"
          height="64"
          alt="MyAnimeList"
        />
      </a>
      <a
        class="group inline-flex items-center hover:bg-zinc-800/30 border border-transparent hover:border-zinc-700/10 rounded-2xl transition duration-150 ease-in-out select-none shrink-0"
        href="https://www.youtube.com/trixlight"
        data-tooltip="YouTube"
        target="_blank"
      >
        <img
          class="size-14 group-hover:brightness-110 transition duration-150 ease-in-out"
          src="theme/images/youtube-64.webp"
          width="64"
          height="64"
          alt="YouTube"
        />
      </a>
      <a
        class="group inline-flex items-center hover:bg-zinc-800/30 border border-transparent hover:border-zinc-700/10 rounded-2xl transition duration-150 ease-in-out select-none shrink-0"
        href="https://coub.com/trixlight"
        data-tooltip="Coub"
        target="_blank"
      >
        <img
          class="size-14 group-hover:brightness-110 transition duration-150 ease-in-out"
          src="theme/images/coub-64.webp"
          width="64"
          height="64"
          alt="Coub"
        />
      </a>
    </nav>

    <footer class="font-medium text-zinc-400 text-xs text-center">
      <p>
        <a
          class="text-zinc-200 hover:text-sky-300 transition duration-150 ease-in-out"
          href="https://coub.com/view/3aqkb3"
          data-tooltip="Видео на Coub"
          target="_blank"
          rel="nofollow">Видео</a
        >
        на
        <a
          class="text-zinc-200 hover:text-sky-300 transition duration-150 ease-in-out"
          href="https://steamcommunity.com/sharedfiles/filedetails/?id=2943475816"
          data-tooltip="Обои для Wallpaper Engine"
          target="_blank"
          rel="nofollow">фоне</a
        >
        из аниме
        <a
          class="text-zinc-200 hover:text-sky-300 transition duration-150 ease-in-out"
          href="https://shikimori.io/animes/11499-sankarea"
          data-tooltip="Страничка на Шикимори"
          target="_blank"
          rel="nofollow">Sankarea</a
        >, Эпизод 12.
      </p>
      <p>
        Текущий аватар — Vigna из Arknights от
        <a
          class="text-zinc-200 hover:text-sky-300 transition duration-150 ease-in-out"
          href="https://www.pixiv.net/en/artworks/78078147"
          data-tooltip="Оригинал на Pixiv"
          target="_blank"
          rel="nofollow">icepuli</a
        >.
      </p>
      <p>
        Анимация загрузки — Seana из игры
        <a
          class="text-zinc-200 hover:text-sky-300 transition duration-150 ease-in-out"
          href="https://store.steampowered.com/app/400910"
          data-tooltip="Страничка в Steam"
          target="_blank"
          rel="nofollow">Rabi-Ribi</a
        >.
      </p>
      <p>
        Иконка сайта — Retoree из аниме
        <a
          class="text-zinc-200 hover:text-sky-300 transition duration-150 ease-in-out"
          href="https://shikimori.io/animes/27441-show-by-rock"
          data-tooltip="Страничка на Шикимори"
          target="_blank"
          rel="nofollow">Show By Rock!</a
        >
      </p>
    </footer>
  </div>
</div>
